# Dependencies
node_modules/
.pnpm-store/

# Environment files
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
dist/
build/
.turbo/

# Caches
.cache/
.parcel-cache/
.eslintcache
.nyc_output/

# Editor files
.DS_Store
.idea/
.vscode/

# Temp
tmp/
.tmp/
